<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<Form action="login" method="post">
    Time: {{time}}
    <BR>
    Login:<BR>
    <input name="username" type="text">
    <input name="password" type="password">
    <button type="submit">Login</button>

</Form>
</body>
</html>