<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
</head>
<body>

Velkommen <b>{{username}}</b> du er nu logget ind

<a href="/notes">Se dine noter serverside renderet</a>

</body>
</html>