<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
    <script src="galgeleg.js"></script>
</head>
<body>

Velkommen <b>{{brugernavnet}}</b> du er nu logget ind.
<br><br>

<img id="galgen" src="images/galge.png"></img>
<br>
<button class="btn btn-primary" onclick="next()">Next</button>
</body>
</html>
