<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
</head>
<body>

Velkommen <b>{{brugernavnet}}</b> du er nu logget ind.
<br><br>

<img id="galgen" src="images/galge.png"></img>
<br><br>
<table class="table">
  <tr>
    <th><button class="btn btn-primary" onclick="guessLetter('A')">A</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('B')">B</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('C')">C</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('D')">D</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('E')">E</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('F')">F</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('G')">G</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('H')">H</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('I')">I</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('J')">J</button></th>
  </tr>
  <tr>
    <th><button class="btn btn-primary" onclick="guessLetter('K')">K</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('L')">L</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('M')">M</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('N')">N</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('O')">O</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('P')">P</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('Q')">Q</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('R')">R</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('S')">S</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('T')">T</button></th>
  </tr>
  <tr>
    <th><button class="btn btn-primary" onclick="guessLetter('U')">U</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('V')">V</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('W')">W</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('X')">X</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('Y')">Y</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('Z')">Z</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('Æ')">Æ</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('Ø')">Ø</button></th>
    <th><button class="btn btn-primary" onclick="guessLetter('Å')">Å</button></th>
  </tr>
</table>
</body>
</html>
