<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Noter</title>
</head>
<body>
<h2>Noter:</h2>
<ul>
    {{^.}}
        Ingen noter - tilføj noter.
    {{/.}}
{{#.}}
    <li>{{tekst}}
          <input name="delete" type ="hidden" value="{{id}}">
          <button type="button" onclick="deleteNote({{id}});" class="btn btn-danger">Slet note</button>
    </li>
{{/.}}
</ul>
<b>Opret nye noter</b>

    <input id="note" name="note" type="text">
    <button onclick="postNote();">Tilføj ny note</button>


</body>
</html>
